{% extends "_base.html" %}
{% load static %}

{% block title %}En savoir plus{% endblock %}

{% block content%}
<div class="container">
    <h2>En savoir plus</h2>
    <div class="rugby">
        <h3>Le rugby</h3>
        <p>
            Le rugby à XV, qui se joue par équipes de quinze joueurs sur le terrain avec des remplaçants, est la variante la plus pratiquée du rugby, famille de sports collectifs, dont les spécificités sont les mêlées et les touches, mettant aux prises deux équipes qui se disputent un ballon ovale, joué à la main et au pied.<br>
            L'objectif du jeu est de marquer plus de points que l'adversaire, par des essais (donnant droit à des transformations), des buts de pénalité ou encore par des drops (coups de pied tombés dans le cours du jeu). L'essai vaut cinq points et sept s'il est transformé, le drop et le but (de pénalité) valent trois points chacun.
        </p>

        <p>
            Source (et également pour plus d'informations) : <br>
            <em><a href="http://fr.wikipedia.org/wiki/Rugby_%C3%A0_XV">Rugby à XV</a></em> de <a href="https://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Rugby_%C3%A0_XV&action=history">auteurs</a>)<br>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">Contenu soumis à la licence CC-BY-SA 4.0</a>.
        </p>
        </div>

    <div class="japon">
        <h3>Le Japon</h3>
        <p>
            Le Japon est un pays insulaire de l'Asie de l'Est, situé entre l'océan Pacifique et la mer du Japon, à l'est de la Chine, de la Corée du Sud, de la Corée du Nord et de la Russie, et au nord de Taïwan.
        </p>
        <p>
            Source (et également pour plus d'informations) : <br> 
            <em><a href="http://fr.wikipedia.org/wiki/Japon">Japon</a></em> de <a href="https://fr.wikipedia.org/">Wikipédia en français</a> (<a href="http://fr.wikipedia.org/w/index.php?title=Japon&action=history">auteurs</a>)<br>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">Contenu soumis à la licence CC-BY-SA 4.0</a>.
        </p>
</div>

{% endblock %}