
html, body {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: sans-serif;
    background: black;
}

header nav {
    display: flex;
}

header nav a {
    flex: 1;
    height: 2em;
    color: white;
    line-height: 2em;
    text-align: center;
}

#events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}